div {
	border:solid 1px orange;
}
img {
  box-sizing: border-box;
  /* v2.3 开始移除以下代码，详见 #502 */
  /* max-width: 100%;
  height: auto;*/
  vertical-align: middle;
  border: 0;
}

.showboder{
  border: solid 2px orange;
}